html {
  min-width: 940px;
  margin: 50px;
}

body {
  font: 16px/1.5em "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em 0 1em 0;
}

img {
  float: left;
  width: 128px;
  margin-right: 22px;
}

input[type=text] {
  display: block; 
}

#display {
  padding-top: 15px;
}

#admin_area {
  padding-top: 15px;
}

#form {
  visibility: hidden;
}
