<!doctype html>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="utf-8">  
<title>Cats</title>  
<meta name="description" content="Udacity assignment">  
<link rel="stylesheet" href="/css/style.css">

<div id="buttons">
</div>

<div id="display">
</div>

<div id="admin_area">
  <button id="admin">admin</button>
  <form id="form">
    Name: <input type="text" name="name" value="">
    Url: <input type="text" name="url" value="">
    Counter: <input type="text" name="counter" value="">
    <button id="cancel" type=button>cancel</button>
    <button id="submit" type=button>submit</button>
  </form>
</div>


<script type="text/template" data-template="list">
  <% _.each(names, function(name) { %> 
    <button class='b_list'><%= name %></button> 
  <% }); %>
</script>

<script type="text/template" data-template="display">
  <p><%=counter%>
  <img src="<%=url%>" alt="<%=name%>">
</script>


<script src="http://documentcloud.github.io/underscore/underscore-min.js"></script>
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src="js/app.js"></script>
